body{
    background-color: rgba(137, 43, 226, 0.555);
    text-align: center;
    
}

.botones{
    padding: 50px;
}

img{
    box-shadow: 0 0 0 2px #000;
}

.info h3{
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
    cursor: default;
}